<form #form="ngForm" (submit)="onsubmit(form)" autocomplete="off"
   style="padding:25px; width:50%; min-width:350px;">
<div class="container rounded bg-dark">
<div class="form-group"
  [class.has-error]="taskNameCtrl.touched && taskNameCtrl.invalid"
  [class.has-success]="taskNameCtrl.isvalid">
 <label for="taskName" class="control-label">Task Name</label>  
 <input id="taskName" type="text" name="taskName" #taskNameCtrl="ngModel" 
  maxlength="50" [(ngModel)] ="this.currentTask.taskName" class="form-control" required >
 <span class="help-block error" 
  *ngIf="taskNameCtrl.touched && taskNameCtrl.invalid">Task Name required
 </span>
</div>
<div class="form-group">
    <label for="parentTaskId" class="control-label">Parent Task</label>  
    <select class="form-control" id="parentTaskId" name="parentTaskId" 
    #parentTaskIdCtrl="ngModel"  [(ngModel)] ="this.currentTask.parentTaskId" >
      <option value="0">--Select Parent Task--</option> 
      <option *ngFor="let task of tasks" 
      value="{{task.taskId}}">{{task.taskName}}</option>
    </select>
</div>
   
<div class="form-group">
    <label>Priority</label>  
    <input type="range" min="0" max="30"  value="0" 
    id="priority" name="priority" #priorityCtrl="ngModel" 
    [(ngModel)] ="this.currentTask.priority" class="custom-range">
    <span class="control-label">{{this.currentTask.priority}}</span>
</div>
<div class="form-group">
<div class="form-row">
   <div class="form-group md-col-6">
      <label for="startDate">Start Date</label>  
      <input type="text" ng-model-options="{timezone:'local'}" bsDatepicker [bsConfig]="datepickerConfig" required id="startDate" 
       value="{{this.currentTask.startDate|date:'dd/MM/yyyy'}}"
       name="startDate" #startDateCtrl="ngModel"  [(ngModel)] ="this.currentTask.startDate" 
      class="form-control"/>
   <span class="help-block"  *ngIf="startDateCtrl.touched && startDateCtrl.invalid">
      Start Date required </span>
 </div>
  <div class="form-group md-col-6">
      <label for="endDate">End Date</label>  
      <input type="text" ng-model-options="{timezone:'local'}"  bsDatepicker [bsConfig]="datepickerConfig"  required 
       id="endDate" name="endDate" #endDateCtrl="ngModel" value="{{this.currentTask.endDate|date:'dd/MM/yyyy'}}"
      [(ngModel)] ="this.currentTask.endDate" class="form-control"/>
          <span class="help-block" 
  *ngIf="endDateCtrl.touched && endDateCtrl.invalid">End Date required
 </span>
</div>
</div>
 <div class="form-group" style="padding-bottom:10px;" >
     <button type="submit" [disabled]="form.invalid" class="btn btn-primary">Submit</button>    
 </div>
</div>
</div>
</form>

