<!--The content below is only a placeholder and can be replaced.-->

<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a href="index.html" class="navbar-brand">Task Manager</a>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
         <li><a class="nav-item active nav-link" routerLink="/tasks" routerLinkActive="Active">View Tasks</a></li>
         <li><a class="nav-item active nav-link">|</a></li>
          <li><a class="nav-item active nav-link" routerLink="/addtask" routerLinkActive="Active">Create Task</a></li>
      </ul>
  </div>
</nav>
      
<div *ngIf="showLoadingOption" class="spinner"></div>
<router-outlet></router-outlet>
<!--Routing Views go here  -->
<!-- <app-view-tasks></app-view-tasks> -->
