<div class="container">
  <p>Filter Tasks:</p> 
    <div  class="container rounded bg-dark">
      <div class="row" style="padding-top:5px;" >
        
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-3">
                    <label for="taskName" >Task </label>  
                </div>                
                 <div class="col-sm-9">
                  <input name="taskName" class="form-control" [(ngModel)]="taskName" maxlength="50"/>  
                 </div>
              </div> 
            </div>
            <div class="col-sm-6">
              <div class="row">
                  <div class="col-sm-3">
                     <label for="parentTaskName" >ParentTask</label> 
                  </div>
                  <div class="col-sm-9">                
                   <input name="parentTaskName" class="form-control" [(ngModel)]="parentTaskName"  maxlength="50"/> 
                  </div>
              </div>          
            </div>
      </div> 
         
      <div class="row" style="padding-top:5px; padding-bottom:5px;" > 
            <div class="col-sm-3">
              <div class="row"> 
                 <div class="col-sm-6">
                    <label for="priorityFrom">Priority From</label> 
                 </div>
                 <div class="col-sm-6">
                    <input name="priorityFrom" type="number" [(ngModel)]="priorityFrom" min="0" max="30" step="1" 
                    onkeydown="if(this.value >30) this.value=0" class="form-control" style="width:60px;" />   
                 </div>
              </div>
            </div>    
            <div class="col-sm-3">
                <div class="row">
                   <div class="col-sm-6">
                    <label for="priorityTo">Priority To</label> 
                  </div>
                  <div class="col-sm-6">
                  <input name="priorityTo" type="number" [(ngModel)]="priorityTo" min="0" max="30" onkeydown="if(this.value >30) this.value=0"  step="1" class="form-control"style="width:60px;"/>   
                </div>
                </div>
            </div>
                
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-sm-6">
                        <label for="startDate">Start Date</label> 
                    </div>
                    <div class="col-sm-6">
                        <input type="text" bsDatepicker [bsConfig]="datepickerConfig" id="startDate" 
                    value="{{startDate|date:'MM/dd/yyyy'}}"
                    name="startDate" #startDateCtrl="ngModel" [(ngModel)] ="startDate" 
                class="form-control"  style="min-width:110px;" >  
              </div>

                </div>
            </div>
            <div class="col-sm-3">
                <div class="row">
                   <div class="col-sm-4">
                    <label for="endDate">End Date</label> 
                  </div>
                  <div class="col-sm-8">
                    <input type="text" bsDatepicker [bsConfig]="datepickerConfig"  
                    id="endDate" name="endDate" #endDateCtrl="ngModel" value="{{endDate|date:'MM/dd/yyyy'}}"
                    [(ngModel)] ="endDate" class="form-control" style="min-width:110px;"  > 
                  </div>
                </div>
            </div>
        </div>   
    </div> 
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive"  >
        <table id="mytable" class="table table-bordred table-striped">
          
          <tbody *ngFor="let t of tasks | TaskFilter: taskName:parentTaskName:priorityFrom:priorityTo:startDate:endDate">
              <tr>
                  <td>Task </td>
                  <td>Parent Task</td>
                  <td>Priority</td>
                  <td>Start Date</td>
                  <td>End Date</td>
                  <td></td>
                  <td></td>
                </tr>
            <tr  class="info">
              <td>{{t.taskName}}</td>
              <td>{{t.parentTaskName}}</td>
              <td>{{t.priority}}</td>
              <td>{{t.startDate|date:'dd/MM/yyyy' }}</td>
              <td>{{t.endDate|date:'dd/MM/yyyy' }}</td>
              <td colspan="2">
                <div *ngIf="t.isTaskEnded ==false;  else elsecondition">
                   <div class="row">
                     <div style="padding:5px;">
                        <button name="editbtn" class="btn btn-primary btn-xs" 
                          [routerLink] ="['/updatetask/', t.taskId]"
                          >Edit  </button>
                     </div>
                      <div style="padding:5px;">
                          <button name="endtask" (click)="EndOfTask(t)" class="btn btn-primary btn-xs"  
                          >End Task</button> 
                      </div>   
                   </div>
                </div>
                <ng-template #elsecondition>
                     <label>Task ended</label> 
                </ng-template>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="!tasks || tasks.length ==0">
            <label style="color:red">No Tasks created</label> 
      </div>
    </div>
  </div>
</div>
 
